@media screen and (max-width: 1260px) {
  .logo {
    width: 105px;
    height: 38px;
  }

  .header {
    flex-direction: column;
    gap: 15px;
  }


  .helper_2 {
    display: flex;
    justify-content: space-around;
    gap: 100px;
  }

  .logo_1 {
    display: flex;
    justify-content: space-between;
    gap: 500px;
  }

  .menu_btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  .menu_btn span {
    height: 3px;
    width: 100%;
    background-color: black;
  }

  .menu_btn.white span {

    background-color: white;
  }


  .helper_1 {
    display: none;
  }

  .section__subtitle {
    top: calc(114/640*100%);
  }

  .section__title {
    top: calc(182/640*100%);
    font-size: 2em;
    height: 108px;

  }

  .helper_1.menu-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(126, 126, 154);
    height: 100vh;
    z-index: 5;
    text-align: center;
    padding-top: 140px;


  }

  .nav__link {
    color: white;
    font-size: 30px;
    padding: 20px 0;
  }

  .logo {
    z-index: 20;

  }

  .about {
    position: relative;
    max-width: 1168px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .about__img {
    width: 450px;
    height: 450px;
    margin-right: 25px;
  }

  .about_descrption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }


  .about__text {
    height: auto;
  }

  .promise__snake1 {
    display: none;
  }

  .first__aid-nav {
    left: 17%;

  }
}

@media screen and (max-width: 800px) {
  .helper_2 {
    gap: 20px;
  }

  .logo_1 {
    gap: 300px;
  }

  .section__title {
    line-height: 39px;
    height: 86px;
  }

  .section__text {
    top: calc(432/640*100%);
    font-size: 15px;
    line-height: 21px;

  }

  .about {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
  }

  .about__snake {
    display: none;
  }

  .promise {
    background: #FAFAFC;
    width: 100%;
    position: relative;
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }

  .promise__snake2 {
    display: none;
  }

  .promise__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .family__galery {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .first__aid-nav {
    display: flex;
    flex-direction: column;
    height: auto;
    background: transparent;
    align-items: flex-start;
    left: 1%;
    bottom: 8%;
    gap: 5px;
  }

  .shop {
    height: 268px;
  }

  .shop__subtitle {

    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FAFAFC;
    padding-top: 40px;
    margin: 0 auto;
  }

  .shop__title {
    font-size: 25px;
    line-height: 26px;

  }

  .shop__text {

    font-size: 10px;
    line-height: 24px;

  }

  .shop__btn {

    width: 82px;
    height: 33px;
    font-size: 13px;
    line-height: 22px;
  }

  .shop__img {
    display: none;
  }
  .all-category {
    margin-bottom: 50px;
  }
}


@media screen and (max-width: 550px) {
  .logo {
    width: 67px;
    height: 27px;
  }

  .logo_1 {
    gap: 150px;
  }

  .menu_btn {
    width: 35px;
    height: 23px;
  }

  .nav__button {
    font-size: 12px;
    padding: 3px;
  }

  .nav__button-cart {
    display: none;
  }

  .nav__button-count {
    margin-left: 6px;
  }

  .section {
    margin-bottom: 35px;
  }

  .section__title {
    line-height: 16px;
    height: 25px;
    font-size: 16px;
  }

  .section__subtitle {
    top: calc(33/640*100%);
    font-size: 9px;
    line-height: 14px;
  }

  .section__text {
    display: none;

  }

  .about {
    margin-bottom: 25px;
  }

  .about__img {
    width: 250px;
    height: 250px;
    margin-right: 0;
  }

  .about__subtitle {
    font-size: 10px;
    line-height: 9px;
  }

  .about__title {
    font-size: 24px;
    line-height: 25px;
  }

  .about__text {
    font-size: 9px;
    line-height: 15px;

  }

  .about__link {

    font-size: 11px;
    line-height: 14px;

  }

  .about__snake2 {
    display: none;
  }

  .promise {
    margin-bottom: 0;
  }

  .promise__gallery {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .promise__title {

    font-size: 21px;
    line-height: 33px;

  }

  .promise__text {
    font-size: 12px;
  }

  .first__aid-nav-cart {
    display: none;
  }

  .first__aid-link {
    font-size: 8px;
    line-height: 9px;
  }

  .shop__subtitle {
    font-size: 12px;
    padding-top: 20px;
    margin-bottom: 10px
  }

  .shop__title {
    font-size: 19px;
    line-height: 19px;
  }

  .shop__text {
    font-size: 9px;
    line-height: 15px;
  }

  .b {
    margin-top: 20px;
  }
  .family{
    margin-top: 45px;
  }

  .family__galery {
    gap: 20px;
  }

  .gallery__card {
    max-width: 379px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 21px;
    position: relative;
    height: 367px;
    padding: 0px 25px;
  }

}

@media screen and (max-width: 350px) {
  .gallery__card {
    height: 335px;
  }
}