@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1168px;
  margin: 18px auto;
}

@media screen and (max-width: 1200px) {
  .header {
    width: 100%;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 850px) {
  .header {
    flex-direction: column;
  }
}

.logo {
  width: 128px;
  height: 39px;
}

@media screen and (max-width: 1000px) {
  .logo {
    width: 100px;
    height: 30px;
    margin-right: 8px;
  }
}


.nav__link {
  text-decoration: none;
  margin-right: 28px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

@media screen and (max-width: 1000px) {
  .nav__link {
    font-size: 14px;
    line-height: 14px;
    margin-right: 15px;
  }
}

.nav__button {
  background: #575445;
  border-radius: 6px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
  .nav__button {
    font-size: 12px;
    line-height: 14px;
  }
}

.nav__button1 {
  width: 143px;
  height: 44px;
}

@media screen and (max-width: 1000px) {
  .nav__button1 {
    width: 110px;
    height: 35px;
  }
}

.nav__button2 {
  width: 125px;
  height: 44px;
}

@media screen and (max-width: 1000px) {
  .nav__button2 {
    width: 110px;
    height: 35px;
  }
}

.nav__button-cart {
  margin-right: 8px;
}

.nav__button-count {
  margin-left: 14px;
}

.main_img {
  width: 100%;

}

.section {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}

.section__subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #E6B939;
  position: absolute;
  top: 218px;
  left: 136px;
}

.section__title {
  width: 416px;
  height: 116px;
  position: absolute;
  top: 237px;
  left: 136px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
}

.section__text {
  width: 495px;
  height: 51px;
  position: absolute;
  top: 362px;
  left: 136px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #CACCD1;
}

.about {
  position: relative;
  max-width: 1168px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-bottom: 100px;
}

.about__img {
  width: 576px;
  height: 576px;

}

.about__snake {
  position: absolute;
  bottom: 448px;
  left: 451px;
  background: transparent;
}

.about_descrption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__subtitle {
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #E6B939;
}

.about__title {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #575445;
  margin-bottom: 8px;
}

.about__text {
  margin: 0;
  width: 384px;
  height: 116px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #575445;
  margin-bottom: 20px;
}

.about__link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #575445;
  text-decoration: none;
}

.arrow {
  font-weight: bold
}

.about__snake2 {
  position: absolute;
  background: rgba(87, 84, 69, 0.14);
  bottom: -128px;
  left: -125px;
  background: transparent;
}